<h1> HI THIS IS THE USERS AREA </h1>

<h2>WELCOME <%= user.name %>, to the dashboard. </h2>


<h3>Check it out- here's where you can create a new survey!</h3>
<form action='/dashboard/<%=user.id%>/create' method='POST'>
<input type="text" name='title' placeholder="your survey title" required>
<input type ="submit" value="create">
</form>




  <% surveys.each do |survey| %>
    <div class="survey_links">
      <h2><p><a href='/user/<%=session[:user_id]%>/survey/<%=survey.id%>'><%= survey.title %></a></h2>
      <p>Total Responses: <%= survey.surveys_users.count %></p>
      <form action='/survey/<%=survey.id%>' method='POST'>
        <input type="hidden" name="_method" value="delete">
        <input type ="submit" value="delete">
      </form>
    </div>
  <% end %>






