
<div class='container'>
  <h3>The Questions</h3>
  <% survey.questions.each_with_index do |question, index| %>
    <h4><%=index + 1 %>. <%= question.question_text %></h4>
    <% question.choices.each do |choice| %>
      <p>--<%= choice.choice_text %></p>
    <% end %>
  <% end %>
  <h3> Here's what folks had to say : </h3>
  <% survey.surveys_users.each do |survey_response| %>
    <p><%= survey_response.comment %></p>
  <% end %>
</div>
  <h2>Results</h2>

<div id='piechart'></div>

<script>
 $(document).ready(function(){

var piedata = []
  <% survey.questions.each do |question| %>
    curr_q = []
    <% question.choices.each do |choice| %>
    curr_choice = {}
      curr_choice["label"] = "<%=choice.choice_text%>"
      curr_choice["value"]=<%= response_percentage(choice, survey) %>
      curr_q.push(curr_choice)
    <% end %>
    piedata.push(curr_q)
  <% end %>

    for(i=0;i<piedata.length;i++){
        var data = piedata[i]


      var pie = new d3pie("#piechart", {
  data: {
    content: data
  }
});
    }
})
</script>


