<div class='container'>
  <% survey.questions.each_with_index do |question, index| %>
    <p><%=index + 1 %>. <%= question.question_text %></p>
    <% question.choices.each do |choice| %>
      <p><%= choice.choice_text %>---<%= response_percentage(choice, survey) %></p>
    <% end %>
  <% end %>
  <h3> Here's what folks had to say : </h3>
  <% survey.surveys_users.each do |survey_response| %>
    <p><%= survey_response.comment %></p>
  <% end %>
</div>

<script type="text/javascript">
var bardata = []

  <% survey.questions.each do |question| %>
  curr_q = []
    <% question.choices.each do |choice| %>
      curr_q.push(<%= response_percentage(choice, survey) %>)
    <% end %>
    bardata.push(curr_q)
  <% end %>
</script>
