<div class='container'>



 <% survey.questions.each_with_index do |question, index| %>

 <p><%=index + 1 %>. <%= question.question_text %></p>
  <% question.choices.each do |choice| %>
  <p><%= choice.choice_text %>---<%= ((Response.where(choice_id: choice.id).count).to_f/(SurveysUser.where(survey_id: survey.id).count) * 100).to_i.to_s + "%" %></p>


    <% end %>
 <% end %>

<h3> Here's what folks had to say : </h3>

<% SurveysUser.where(survey_id: survey.id).each do |survey_response| %>

<p><%= survey_response.comment %></p>

<% end %>



</div>







<div>
 <% denominator = SurveysUser.where(survey_id: survey.id).count %>



</div>
<!-- (Response.where(choice_id: choice.id).count)/
(SurveysUser.where(survey_id: survey.id).count) -->
